  *{
      font-family:"Droid Arabic Kufi", sans-serif;
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
      text-align: center;
      font-weight: 900;
      color: blue;
  }
  .contener{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .title{
      font-size: 50px;
      margin: 10px;
  }
  .hid-in{
      display: none;
  }
  .form{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .child{
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  
  }
  input,h5{
      margin: 5px 0px;
      padding: 5px 0px;
      border-radius: 20px;
      width: 300px;
  }
  h5{
      box-shadow: 5px 5px;
      background-color: #e6e6f5;
  }
  input{
      border: blue solid 1px;
  }
  @media (max-width:420px) {
  input,h5{
      width: 300px;
  }
  input{
      border: blue solid 1px;
  }
  }
